@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Instrument+Serif:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

html {
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scroll on the html element */
}

*,
*::before,
*::after {
  box-sizing: inherit; /* Inherit box-sizing from html */
}

body {
  margin: 0;
  background: #0c0c0c;
  overflow-x: hidden; /* Also apply to body for robustness */
}
